* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family:Georgia, 'Times New Roman', Times, serif
}

#header {
    display: flex;
    justify-content: space-around;
    padding: 18px;
    background-color: #1f2937;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 18px;
}

/* Hero secttion */

#hero-section {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #1f2937;
    color: #f9faf8;
}

.hero-content {
    width: 400px;
    height: auto;
    border: 1px solid black;
}

.hero-img-container {
    width: 300px;
    height: 250px;
    border: 1px solid black;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;

}

.hero-btn {
    background-color: #3882f6;
    color: #f9faf8;
}
/* Info section */

#info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-content-container {
    display: flex;
    gap: 10px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

.info-img {
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 5px;
}

.quote {
    width: 100%;
    background-color: #e5e7eb;

}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.quote-author {
    text-align: right;
}

/* Signup section */

#signup-section {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.signup-article {
    padding: 5%;
    display: flex;
    gap: 32px;
    background-color: #3882f6;
    align-items: end;
}

.signup-btn {
    flex-basis: auto;
    padding: 0px;
    height: auto;
    width: 100px;
    border: 3px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
}


/* Footer */
#footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px;
    text-align: center;
}